.searchForm {
    margin: 0;
    display: grid;
    align-items: center;
    grid-area: searchForm;
    grid-template-areas: "icon input search line";
    height: 72px;
}

.searchForm__icon {
    margin: 0;
    margin-left: 19px;
    margin-right: 10px;
    display: flex;
    grid-area: icon;
    width: 32px;
    height: 32px;
}

.searchForm__line {
    margin: 0;
    grid-area: line;
    border: none;
    background: rgba(66, 66, 66, 1);
    color: rgba(66, 66, 66, 1);
    width: 1px;
    height: 40px;
}

.searchForm__input {
    margin: 0;
    grid-area: input;
    font-family: Inter;
    border: none;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    background: rgba(47, 47, 47, 1);
    color: rgba(139, 139, 139, 1);
    font-size: 18px;
    line-height: 20px;
}

.searchForm__button {
    margin: 0;
    margin-left: 46px;
    cursor: pointer;
    grid-area: search;
    border: none;
    background: none;
    background-image: url('../../images/find.svg');
    background-position: center;
    height: 34px;
    width: 34px;
}

.searchForm__button:hover {
    opacity: 0.5;
    transition: linear 0.5s;
}

@media screen and (min-width: 1280px) {
    .searchForm {
        width: 913px;
    }
    .searchForm__input {
        width: 722px;
    }
    .searchForm__line {
        margin-left: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .searchForm {
        width: 485px;
    }
    .searchForm__input {
        width: 348px;
    }
    .searchForm__line {
        margin-left: 19px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .searchForm {
        width: 300px;
        background: rgba(47, 47, 47, 1);
        border-radius: 9px;
        margin-bottom: 45px;
    }
    .searchForm__input {
        margin-left: 19px;
        width: 224px;
    }
    .searchForm__line {
        display: none;
    }
    .searchForm__button {
        margin-left: 0px;
        margin-right: 19px;
    }
    .searchForm__icon {
        display: none;
    }
}