.App {
  margin: auto;
  display: flex;
  position: fit;
  flex-flow: column;
  background: rgba(32, 32, 32, 1);
}

@media screen and (min-width: 1280px) {
  .App {
    width: 1280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .App {
    width: 768px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .App {
    width: 320px;
  }
}