.moviesCard {
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "video video" "name button" "line line" "duration duration";
    margin-bottom: 10px;
}

.moviesCard__video {
    cursor: pointer;
    margin: 0;
    grid-area: video;
    margin-bottom: 14px;
}

.moviesCard__video:hover {
    opacity: 0.5;
    transition: linear 0.5s;
}

.moviesCard__name {
    margin: 0;
    grid-area: name;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.moviesCard__like {
    margin: 0;
    margin-left: auto;
    grid-area: button;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 36px;
    background-image: url('../../images/like.svg');
    background-position: center;
}

.moviesCard__like:hover {
    background-image: url('../../images/like-active.svg');
}
.moviesCard__like:active {
    transform: scale(5);
    transition: 3s;
    background-image: url('../../images/like-active.svg');
}
.moviesCard__like_active {
    background-image: url('../../images/like-active.svg');
}

.moviesCard__like_hidden {
    display: none;
}

.moviesCard__delete {
    margin: 0;
    margin-left: auto;
    grid-area: button;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 36px;
    background-image: url('../../images/delete.svg');
    background-position: center;
}

.moviesCard__delete:hover {
    opacity: 0.5;
    transition: linear 0.5s;
}

.moviesCard:hover .moviesCard__delete {
    background-image: url('../../images/delete-active.svg');
}

.moviesCard__delete_hidden {
    display: none;
}

.moviesCard__line {
    margin: 0;
    margin-bottom: 6px;
    grid-area: line;
    border: none;
    height: 1px;
    background: rgba(232, 232, 232, 1);
    color: rgba(232, 232, 232, 1);
}

.moviesCard__duration {
    margin: 0;
    grid-area: duration;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(160, 160, 160, 1);
}

@media screen and (min-width: 1280px) {
    .moviesCard__line {
        margin-top: 25px;
        width: 270px;
    }
    .moviesCard__video {
        width: 270;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .moviesCard__line {
        margin-top: 29px;
        width: 339px;
    }
    .moviesCard__video {
        width: 339px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .moviesCard__line {
        margin-top: 29px;
        width: 300px;
    }
    .moviesCard__video {
        width: 300px;
    }
    .moviesCard__name {
        font-size: 12px;
        line-height: 15px;
    }
    .moviesCard__duration {
        font-size: 10px;
        line-height: 12px;
    }
}