.header {
    margin: 0;
    display: grid;
    align-items: center;
    grid-template-areas: "logo linkMovies linkSavedMovies linkProfile navTab";
}

.header__hidden {
    display: none;
}

.header__logo {
    margin: 0;
    display: flex;
    margin-right: 710px;
    margin-top: 18px;
    margin-bottom: 18px;
    grid-area: logo;
    height: 38px;
    width: 38px;
    border-radius: 0px;
    background: url('../../images/header-logo.svg');
}

.header__logo:hover {
    opacity: 0.5;
    transition: linear 0.5s;
}

.header__link {
    margin: 0;
    margin-right: 16px;
    display: flex;
    grid-area: linkMovies;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    height: 18px;
    width: 58px;
}

.header__link:hover {
    opacity: 0.5;
    transition: linear 0.5s;
}

.header__link:nth-child(3) {
    grid-area: linkSavedMovies;
    margin-right: 32px;
    font-style: normal;
    font-weight: 400;
    width: 153px;
}

.header__link_profile {
    display: flex;
    grid-area: linkProfile;
    font-size: 13px;
    line-height: 12px;
    padding-right: 14px;
    justify-content: end;
    align-items: center;
    height: 32px;
    width: 86px;
    text-align: end;
    background-image: url('../../images/button-profile.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    border: 2px solid rgba(170, 170, 170, 1);
    color: rgba(255, 255, 255, 1);
}

.header__button {
    margin: 0;
    display: flex;
    cursor: pointer;
    margin-left: auto;
    grid-area: navTab;
    height: 44px;
    width: 44px;
    border: none;
    background: none;
    background-image: url('../../images/button-nav.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.header__button:hover {
    opacity: 0.5;
    transition: linear 0.5s;
}

.header__button_hidden {
    display: none;
}

@media screen and (min-width: 1280px) {
    .header {
        margin-left: 70px;
        margin-right: 70px;
    }

    .header__logo {
        margin-right: 44px;
    }

    .header__link {
        display: flex;
    }

    .header__button {
        display: none;
    }

    .header__link:nth-child(3) {
        margin-right: 730px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .header {
        margin-left: 30px;
        margin-right: 30px;
    }

    .header__logo {
        margin-right: 623px;
    }

    .header__link {
        display: none;
    }

    .header__button {
        display: flex;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        margin-left: 14px;
        margin-right: 14px;
    }

    .header__logo {
        margin-right: 207px;
    }

    .header__link {
        display: none;
    }

    .header__button {
        display: flex;
    }
}